.groups {
	display: flex;
	flex-direction: row;
}

.freeUsers {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
}

.moveButtons {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
}

.selectedGroup {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
}

.usersGroups {
  display: flex;
  flex-direction: column;
}
