.table {
	width: 300px;
	background-color: #ffffff;
	border-collapse: collapse;
	border-width: 2px;
	border-color: #ffcc00;
	border-style: solid;

	.data {
		border-width: 2px;
		border-color: #ffcc00;
		border-style: solid;
		padding: 3px;
	}

	.head {
  		background-color: #ffcc00;
	}
}
