.new-user {
	margin-bottom: 20px;
}

.input-label {
	display: block;
	margin-top: 20px;
}

.select {
	margin: 10px 0 20px;
	display: block;
}

.input {
	position: relative;

	input {
		margin-top: 20px;
	}

	:global(.error-message) {
		position: absolute;
	}
}
